@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

$font-family-base: "Anton", sans-serif;
$font-size-base: 1.3rem;

$hr-border-width: 10px;
$hr-opacity: 100%;

$h1-font-size: 7.4rem;

$border-radius: 0rem;
$border-radius-lg: 0rem;

$primary: #ffe570;
$secondary: #fffec5;

$card-border-width: 0rem;
$card-border-radius: 0rem;
$card-spacer-y: 2rem;

$thumbnail-padding: 0.7rem;
$thumbnail-border-width: 0rem;

$navbar-dark-color: white;
$navbar-dark-hover-color: white;

$list-group-border-width: 0rem;

$modal-header-border-width: 0rem;
$modal-header-padding: 0rem;

$nav-link-color: black;
$nav-link-hover-color: $primary;

@import "~bootstrap/scss/bootstrap.scss";

@import "~locomotive-scroll/dist/locomotive-scroll.min.css";

footer {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/header.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 10vh;
    width: auto;
    display: flex;
    align-items: center;
}

.card-img {
    filter: brightness(70%);
}

@media (max-width: 991.98px) {
    //
}
